[alias]
    st = status -sb
    lg = log --graph --pretty=format:\"%h | %<(16,trunc)%cr [%an] %s %d\" --date=short -25
    lga = log --graph --pretty=format:'%h | %<(16,trunc)%cr [%an] %s %d' --date=short
    ri = "!git rebase -i $(git lga | fzf | awk '{print $2}')"
    ch = "!(\
            git for-each-ref --format='%(refname) [%(authorname)] %(subject)' refs/heads/ | awk -F'[ /]' '{print $3}' \
            && git log --pretty=format:'%h | %<(16,trunc)%cr [%an] %s %d' --date=short \
        ) \
        | fzf \
        | awk '{print $1}' \
        | xargs git checkout"

    # lg = "log --graph --pretty=format:\"%C(#2AA298)%h%C(reset) | %<(16,trunc)%C(#D33682)%cr%C(reset) [%C(#278BD3)%an%C(reset)] %C(#859900)%s %C(#DC312E)%d%C(reset)\" --date=short"

[advice]
    detachedHead = false
[interactive]
    singlekey = true
