input {
    keyboard {
        xkb {
            layout "us,ru"
            options "ctrl:nocaps,grp:win_space_toggle"
        }
        repeat-delay 250
        repeat-rate 35
        track-layout "global"
    }

    touchpad {
        tap
    }

    // focus-follows-mouse

    mod-key "Super"
    mod-key-nested "Alt"
}

output "eDP-1" {
    mode "1920x1080@60.027000"
    position x=0 y=0
    scale 1.0
}

output "HDMI-A-1" {
    // this HDMI output was disabled in your Hypr config
    off
}

layout {
    gaps 0
    // empty-workspace-above-first
    always-center-single-column
    default-column-display "tabbed"
    center-focused-column "never"

    border {
        off
    }

    focus-ring {
        off
    }

    default-column-width { proportion 0.7; }

    tab-indicator { hide-when-single-tab; }
}

animations {
    off
    slowdown 0.7
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+L     { focus-monitor-right; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }

    Mod+I              { focus-workspace-down; }
    Mod+U              { focus-workspace-up; }
    Mod+Ctrl+I         { move-column-to-workspace-down; }
    Mod+Ctrl+U         { move-column-to-workspace-up; }
    Mod+Shift+I        { move-workspace-down; }
    Mod+Shift+U        { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    // Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Ctrl+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+Shift+P { power-off-monitors; }
    Mod+O repeat=false { toggle-overview; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01-"; }
    Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.01+"; }
    Mod+Alt+TouchpadScrollDown { spawn "brightnessctl" "--class=backlight" "set" "1%-"; }
    Mod+Alt+TouchpadScrollUp   { spawn "brightnessctl" "--class=backlight" "set" "+1%"; }

    Mod+Right { spawn "playerctl" "next" ; }
    Mod+Left { spawn "playerctl" "previous" ; }
    Mod+Up { spawn "playerctl" "-p" "spotify" "loop" "track" ; }
    Mod+Down { spawn "playerctl" "-p" "spotify" "loop" "none" ; }
    Mod+Shift+Up { spawn "playerctl" "-p" "spotify" "shuffle" "on" ; }
    Mod+Shift+Down { spawn "playerctl" "-p" "spotify" "shuffle" "off" ; }
    Mod+Shift+Space { spawn "playerctl" "-p" "spotify" "play-pause" ; }

    Mod+Ctrl+C { screenshot; }
    Mod+Shift+Ctrl+C { screenshot-screen; }
    Mod+Alt+C { screenshot-window; }

    Mod+Q repeat=false { close-window; }
    Mod+Shift+Q repeat=false { quit; }

    Alt+Space { spawn "rofi" "-show" "drun"; }
    Mod+Return { spawn "footclient" ; }
    Mod+E { spawn "bash" "-c" "footclient -e yazi" ; }
    Mod+S { spawn "tmux-sessionizer-gui"; }
    Mod+B { spawn "bookmarks"; }
    Mod+Alt+L { spawn "hyprlock" ; }
    Mod+Shift+B { spawn "zen" ; }
    Mod+Shift+C { spawn "hyprpicker" "-a" "-r" ; }
    Mod+Shift+V { spawn-sh "vpn tog" ; }
    Mod+Shift+M { spawn-sh "spotify" ; }
    Mod+Ctrl+B allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill waybar || waybar"; }
}

window-rule {
    match app-id="windsurf"
    opacity 0.85
}

window-rule {
    match title="^Open Folder$"
    open-floating true
}

window-rule {
    match title="^Open File$"
    open-floating true
}

window-rule {
    match app-id="thunar"
    open-floating true
}

window-rule {
    match app-id="foot"
    default-column-width { proportion 1.0; }
    // open-floating true
    // default-window-height { fixed 1000; }
}

window-rule {
    match app-id="kitty-sidebar"
    open-floating true
    default-column-width {
        proportion 0.4;
    }
    default-window-height {
        fixed 1000;
    }
    open-on-workspace "scratchpad"
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "wlsunset -d 1800 -S 4:30 -s 22:00 -t 4000:6500"
spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "foot --server"
