/* Black */

* {
  font-family: "Maple Mono NF CN SemiBold";
  /* font-weight: 600; */
  font-style: italic;
  font-size: 14px;
  margin: 0;
  padding: 0 0;
  padding: 0 8px;
  color: white;
}

#window {
  padding: 0;
}

window#waybar {
  background-color: #000001;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0;
  background-color: #000001;
  transition-property: color;
  transition-duration: 0.35s;
  border-radius: 50%;
  color: grey;
}

#workspaces button.active {
  color: white;
}

#workspaces button.urgent {
  background-color: #000001;
  color: white;
}

#mode {
  background-color: #000001;
  border-bottom: 3px solid #ffffff;
}

/* Common Widget Styles */

#custom-updates,
#window,
#workspaces,
#clock,
#battery,
#bluetooth,
#network,
#cpu,
#custom-brightness,
#custom-vpn,
#temperature,
#memory,
#pulseaudio {
  padding: 5px 0px;
  border: none;
  background-color: #000001;
  color: white;
}

#battery {
  padding-left: 8px;
}

#battery.charging {
  color: lightgreen;
}

#battery.warning {
  color: yellow;
}

#battery.critical {
  color: red;
}

#bluetooth {
  padding-right: 8px;
  padding-left: 8px;
}

#network {
  color: white;
  padding-right: 8px;
  padding-left: 8px;
}

#custom-vpn {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
}

#custom-updates {
  color: white;
  font-weight: 600;
}

#temperature {
  color: white;
  border-right: none;
  padding-left: 15px;
  padding-right: 8px;
}

/* CPU Usage */
#cpu {
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
}

/* Memory Usage */
#memory {
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-brightness {
  padding-left: 8px;
  padding-right: 8px;
}

/* Pulseaudio Widget */
#pulseaudio {
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

/* VPN */
#custom-vpn.connected {
  color: lightgreen;
}

#custom-vpn.disconnected {
  color: red;
}

.dark-menu {
  background-color: #2d2d2d;
  color: #ffffff;
  padding: 5px;
}

.dark-menu menuitem {
  background-color: #2d2d2d;
  padding: 8px;
  color: #ffffff;
}

.dark-menu menuitem:hover {
  background-color: #3d3d3d;
}

.dark-menu separator {
  background-color: #444444;
}
