* {
    font-family: "Maple Mono NF CN SemiBold";
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: white;
}

window#waybar {
    background-color: #000001;
}

#custom-updates,
#window,
#workspaces,
#clock,
#battery,
#bluetooth,
#network,
#cpu,
#custom-brightness,
#custom-vpn,
#temperature,
#memory,
#pulseaudio {
    padding: 5px 0px;
    border: none;
}

#clock {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 12px;
}

#battery {
    padding-left: 12px;
    padding-right: 12px;
}

#battery.warning {
    color: yellow;
}

#battery.critical {
    color: red;
}

#battery.charging {
    color: lightgreen;
}

#bluetooth {
    padding-right: 12px;
    padding-left: 8px;
}

#network {
    padding-right: 12px;
    padding-left: 12px;
}

#custom-power {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 12px;
}

#custom-vpn {
    padding-left: 8px;
    padding-right: 8px;
}

#custom-updates {
    font-weight: 600;
}

#cpu {
    padding-left: 8px;
    padding-right: 8px;
}

#memory {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 44px;
}

#backlight {
    padding-left: 12px;
    padding-right: 12px;
}

#pulseaudio {
    padding-left: 12px;
    padding-right: 0px;
}

#custom-vpn.connected {
    color: lightgreen;
}

#custom-vpn.disconnected {
    color: red;
}

#workspaces {
    padding: 0 0px;
    margin: 0 0px;
    border-radius: 0px;
}

#workspaces button {
    padding: 0;
    margin: 0;
    min-width: 30px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    transition: .2s;
}

#workspaces button * {
    transition: .2s;
    color: #666;
}

#workspaces button.active * {
    color: #fff;
}

.memory-usage {
    color: red;
}

.memory-usage.low {
    color: #a3be8c;
}

.memory-usage.high {
    color: #bf616a;
}

.cpu-usage {
    color: inherit;
}

.cpu-usage.high {
    color: #bf616a;
}
